$box-shadow: 0 0.3rem 1.5rem rgba(black, 0.15);
$box-shadow-sm: 0 0.1rem 0.8rem rgba(black, 0.15);

$nav-underline-link-active-color: rgb(255, 255, 255);
$nav-link-color: rgb(255, 255, 255);
$nav-link-hover-color: rgb(255, 255, 255);
$nav-link-font-size: 1.2rem;

$link-color: #000;
$link-hover-color: rgba(0, 0, 0, 0.8);

// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';

.pointer {
  cursor: pointer;
}

.gradient-black-transparent {
  background: linear-gradient(
    0deg,
    rgba(32, 34, 54, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.s-rem {
  height: 1rem;
  width: 1rem;
}

.s-em {
  height: 1em;
  width: 1em;
}

.border-xl {
  border-width: 0.5rem !important;
}

$slope-text-blue: rgb(66, 135, 245);
$slope-text-red: rgb(245, 66, 66);
$slope-text-black: rgb(0, 0, 0);
$slope-text-other: rgb(0, 0, 0);

.text-slope-blue {
  color: $slope-text-blue !important;
}

.text-slope-red {
  color: $slope-text-red !important;
}

.text-slope-black {
  color: $slope-text-black !important;
}

.text-slope-other {
  color: $slope-text-other !important;
}

$slope-border-blue: rgba(66, 135, 245, 0.4);
$slope-border-red: rgba(245, 66, 66, 0.4);
$slope-border-black: rgba(0, 0, 0, 0.3);
$slope-border-other: rgba(0, 0, 0, 0.1);

.border-slope-blue {
  border-color: $slope-border-blue !important;
}

.border-slope-red {
  border-color: $slope-border-red !important;
}

.border-slope-black {
  border-color: $slope-border-black !important;
}

.border-slope-other {
  border-color: $slope-border-other !important;
}

// $slope-background-blue: rgba(66, 135, 245);
// $slope-background-red: rgba(245, 66, 66);
// $slope-background-black: rgba(0, 0, 0);
// $slope-background-other: rgba(0, 0, 0, 0.8);
$slope-background-blue: linear-gradient(
  90deg,
  rgba(110, 166, 255, 1) 0%,
  rgba(108, 202, 255, 1) 100%
);
$slope-background-red: linear-gradient(
  90deg,
  rgba(255, 110, 110, 1) 0%,
  rgba(255, 142, 108, 1) 100%
);
$slope-background-black: linear-gradient(
  90deg,
  rgba(15, 22, 42, 1) 0%,
  rgba(23, 33, 64, 1) 100%
);
$slope-background-other: linear-gradient(
  90deg,
  rgba(41, 41, 41, 1) 0%,
  rgba(79, 79, 79, 1) 100%
);

.background-slope-blue {
  background: $slope-background-blue !important;
}

.background-slope-red {
  background: $slope-background-red !important;
}

.background-slope-black {
  background: $slope-background-black !important;
}

.background-slope-other {
  background: $slope-background-other !important;
}

$closed-red: $slope-text-red;
$open-green: #9bc320;

.text-closed-red {
  color: $closed-red !important;
}

.text-open-green {
  color: $open-green !important;
}
